{% extends "base.html" %}

{% block title %}HTTP 404 - Flower not found{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<table border="0" width="100%"><tr><td style="vertical-align: top;">
<h1>Missing flower</h1>
<p>The butterfly looked everywhere around but couldn't find the flower you are looking for.</p>
<p>Maybe this flower has been lost over the ages ?</p>
<p>Maybe this flower has decided to move somewhere else ?</p>
<p>The only thing the butterfly has found is a
<a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5">404</a>
and he is happy with that.</p>
</td><td width="30em">
<pre>
  _     <span style="color:#982031;">.</span>      <span style="color:#c4293f;">.-~\</span>
/  \   <span style="color:#982031;">/ `-'\</span><span style="color:#c4293f;">.'    `- :</span>
   /   <span style="color:#982031;">|    </span><span style="color:#c4293f;">/          `._</span>
  |    <span style="color:#982031;">|   </span><span style="color:#c4293f;">|   .-.        {</span>
  .     <span style="color:#982031;">\  </span><span style="color:#c4293f;">|   `-'         `.</span>
         <span style="color:#982031;">\ </span><span style="color:#c4293f;">|                /</span>
    ~-.`. <span style="color:#982031;">\</span><span style="color:#c4293f;">|            .-~_</span>
        .\-.<span style="color:#c4293f;">\       .-~      \</span>
         `-'<span style="color:#c4293f;">/~~ -.~          /</span>
       .-~/|`-._ <span style="color:#c4293f;">/~~-.~ -- ~</span>
      /  |  \    ~- . _\
</pre>
</td></tr></table>
{% endblock %}
