{% extends "base.html" %}

{% block title %}HTTP 500 - Internal butterfly error{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<table border="0" width="100%"><tr><td style="vertical-align: top;">
<h1>Butterfly failed</h1>
<p>The butterfly has done something terribly wrong while processing your request.</p>
<p>The butterfly is definitely lost.</p>
<p>Nevertheless he had time to write down three digits.</p>
<p>Three digits to understand him better.</p>
<p>He wrote the number
<a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1">500</a>.
</p>
</td><td width="29em">
<pre>
<span style="color:#982031;">.==-.</span>                   <span style="color:#982031;">.-==.</span>
 <span style="color:#982031;">\   '-._</span>  '.   .'  <span style="color:#982031;">_.-'   /</span>
 <span style="color:#982031;">(       \.</span>  \./  <span style="color:#982031;">./       )</span>
  <span style="color:#982031;">\_       :.</span>(#)<span style="color:#982031;">.:       _/</span>
    <span style="color:#982031;">'._    .</span>q(_)p<span style="color:#982031;">.    _.'</span>
      <span style="color:#982031;">""-..-'</span>|=|<span style="color:#982031;">'-..-""</span>
      <span style="color:#982031;">."    '</span>|=|<span style="color:#982031;">'    ".</span>
    <span style="color:#982031;">.'      /</span>|=|<span style="color:#982031;">\      '.</span>
   <span style="color:#982031;">(       /</span> \_/ <span style="color:#982031;">\       )</span>
    <span style="color:#982031;">\     /</span>       <span style="color:#982031;">\     /</span>
     <span style="color:#982031;">""--'</span>         <span style="color:#982031;">'--""</span>
</pre>
</td></tr></table>
{% endblock %}
