{% extends "base.html" %}
{% load url from future %}

{% block title %}IoseNag, a realm of fish and butterflies{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<h1>Welcome !</h1>
<p>
    This small website has only a few pages for the time being,
a <a href="{% url 'mirror:mirror' %}">mirror</a> and
a <a href="{% url 'search:index' %}">search engine aggregator</a>.
</p>
{% endblock %}

{% block quote %}
Real programmers use butterflies
<a href="http://xkcd.com/378/" title="xkcd 378">xkcd</a>
{% endblock %}
